@use '../../styles/_colors';

$radius: 40%;

form {
  label {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    &.methods {
      margin-top: 1em;
      margin-bottom: 5em;
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .5rem 1rem;
        background: colors.$maincolor;
        border: 1px solid colors.$maincolor;
        border-radius: 5px;
        color: white;

        &:hover, &.active, &.selected {
          background: #fff;
          color: #333333;
          border: 1px solid #666666;
        }
      }
    }

    .url {
      max-width: 60vw;
      padding: 0.5em 1em;
      flex: 1;
    }
  }
}
