@use '../../styles/_colors';

$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      margin-top: 2em;
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .75rem;
        background: colors.$maincolor;
        border-radius: 5px;
        color: white;

        &:hover, &.active {
          background: #fff;
          color: #333333;
        }
      }
    }
  }
}
